html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.fixed-table-loading {
  display: none;
}

#yourRanking {display:none;}

img.medium {
  width: 30%;
}

.footer {
  background: #fa277c;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10%;
}    
.space {
  height: 70px;
}    
.page-header{
  color: #fa277c;
}